<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forgotPasswordUrl</key>
	<string>api/User/User/ForgotPassword</string>
	<key>register</key>
	<string>api/User/Register</string>
	<key>loginUrl</key>
	<string>api/User/UserLogin</string>
	<key>BaseUrl</key>
	<string>http://api.walk2deals.com/</string>
	<key>getDealsUlr</key>
	<string>api/Deal/GetCurrentDeals</string>
	<key>saveFavourite</key>
	<string>api/User/DealsFavSave</string>
	<key>getDeailByID</key>
	<string>api/Deal/GetById/</string>
	<key>getReviews</key>
	<string>api/Deal/DealReviewGetById/</string>
	<key>reviewSave</key>
	<string>api/Deal/DealReviewCreate</string>
	<key>getUserData</key>
	<string>api/User/GetById/</string>
	<key>getAllLocations</key>
	<string>api/Location/GetAll</string>
	<key>saveReedm</key>
	<string>api/Deal/SaveRedeem</string>
	<key>ApproveRedeem</key>
	<string>api/Deal/ApproveRedeem</string>
	<key>getOtpUlr</key>
	<string>api/User/VerifyMobileNumber/</string>
</dict>
</plist>
